@page "/create-password"
@layout MainLayout



<div class="auth-page-cp">

    <div class="content-cp">

        <button class="back-btn" @onclick="GoBack">←</button>

        <h1 class="title-cp">Create New Password</h1>

        <p class="subtitle-cp">
            Enter your new password below
        </p>

        <label>New Password</label>

        <div class="password-container">

            <input class="text-input"
                type="@(ShowPassword ? "text" : "password")"
                @bind="Password"
                @bind:event="oninput" />

            <button type="button"
                    class="eye-btn"
                    @onclick="TogglePassword">

                <i class="@(ShowPassword ? "fa-solid fa-eye-slash" : "fa-solid fa-eye")"></i>

            </button>

        </div>

        <label>Confirm Password</label>

        <div class="password-container">

            <input class="text-input"
                type="@(ShowConfirmPassword ? "text" : "password")"
                @bind="ConfirmPassword" />

            <button type="button"
                    class="eye-btn"
                    @onclick="ToggleConfirmPassword">

                <i class="@(ShowConfirmPassword ? "fa-solid fa-eye-slash" : "fa-solid fa-eye")"></i>

            </button>

        </div>

        <div class="strength-text @StrengthClass">
            @StrengthText
        </div>

        <div class="strength-bars">

            @for (int i = 1; i <= 4; i++)
            {
                <div class="bar @(StrengthLevel >= i ? StrengthClass : "")"></div>
            }

        </div>

        @if (!string.IsNullOrEmpty(ConfirmPassword) &&
            Password != ConfirmPassword)
        {
            <div class="error">
                Passwords do not match
            </div>
        }
    </div>

    <button class="primary-btn"
            disabled="@(Password != ConfirmPassword)" @onclick="ResetPassword">
        Reset Password
    </button>

</div>
