@page "/verify-otp"
@layout MainLayout

<div class="otp-page">

    <button class="back-btn" @onclick="GoBack">←</button>

    <h1 class="title-vo">Enter OTP</h1>

    <p class="description-vo">
        Enter the 6-digit code sent to <span class="email">john@example.com</span>
    </p>

    <div class="otp-wrapper"
         @onclick="FocusInput">

        <input @ref="_otpInput"
               class="hidden-input"
               maxlength="6"
               inputmode="numeric"
               value="@OtpValue"
               @oninput="HandleOtpInput" />

        @for (int i = 0; i < 6; i++)
        {
            var isActive = OtpValue.Length == i;
            var isFilled = OtpValue.Length > i;

            <div class="otp-box
                @(isActive ? "active" : "")
                @(isFilled ? "filled" : "")">
                @(isFilled ? OtpValue[i] : "")
            </div>
        }
    </div>

    <button class="primary-btn" @onclick="Verifyotp">
        Verify
    </button>

    @if (CanResend)
    {
        <p class="resend-text">
            <a @onclick="ResendOtp">Resend OTP</a>
        </p>
    }
    else
    {
        <p class="resend-text">
            Resend OTP in
            <span class="timer">@TimeRemaining</span>
        </p>
    }

    <div class="secure-text">
        ⓘ Your data is 100% secure
    </div>

</div>